/**
 * 84.5% for !IE, keywords for IE
 * Percents could work for IE, but for backCompat purposes, we are using keywords.
 * x-small is for IE < 6 and IE6 quirks mode.
 * 
 */
body {font:13px verdana,arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}

html { height: 100vh; } /* FIXME why is this required in the new but not in the old app? */

table {font-size:inherit;font:100%;}

/**
 * 99% for safari; 100% is too large
 */
select, input, textarea {font:99% verdana,arial,helvetica,clean,sans-serif;}

/**
 * Bump up !IE to get to 13px equivalent
 */
pre, code {font:115% monospace;*font-size:100%;}

/**
 * Default line-height based on font-size rather than "computed-value"
 * see: http://www.w3.org/TR/CSS21/visudet.html#line-height
 */
body * {line-height:1.22em;}

* {
    margin: 0;
    padding: 0;
}

body {
	overflow: hidden;
	margin: 0 10px;
}

a:link, a:hover, a:visited {
	text-decoration: none;
}

/* Container fuer die obere Hälfte der Seite ohne die Titelzeile */
#container {
    margin-top: 5px;
    background-color: #FFEE99;
}

/* Titelzeile */
#head {
}

/* Titel der Edition */
#head h1 {
    color: Blue;
    font: normal 100% Verdana, Arial, Helvetica, sans-serif;
    margin: 2px 0 0 1em;
}

#head a {
    font-size: 77%;
    text-decoration: none;
}

#head #menu {
    position: absolute;
    top: 2px;
    right: 2px;
}

#menu li {
    list-style: none; 
    float: left;
    margin: 0;
    white-space: nowrap;
    padding: 0 .5em 0 .5em;
    border-right: 1px solid black;
}

#menu .last {
    border-right: 0px;
}

/* Struktur Ebenen 1 und 2 */
#structure {
    width: 100%;
    border-width: 0px;
    font-size: 85%;
}

/* Struktur: Kopf */
#structure th {
    width: 25%;
    text-align: left;
    padding: 0 0 2px 3px;
    background-color: #FFDD33;
	border-bottom: 1px solid white;
}

#structure .selectAll {
    width: 30px;
    padding-left: 3px;
}

/* Liste der Abteilungen */
#structure .section {
    width: 25%;
    background-color: #FFDD33;
    vertical-align: top;
}

#structure .section table {
    border-width: 0px;
}

#structure .section .sep {
    padding-top: 6px;
}

#structure .section td {
    padding: 1px 3px 1px 3px;
}

#javascript-warning {
    border: 1px solid red;
    background-color: #FFF;
    margin: 30px 100px 0 100px;
    padding: 20px;
}

#hide_sections_div {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 77%;
}

/* Bearbeitungsmodi, Suchoptionen */
#modeselect {
    padding: 5px;
    margin: 0;
    border: 2px solid orange;
    font-size: 85%;
}

#loading {
    float: right;
    visibility: hidden;
}

#querybox {
    padding: 5px;
    margin: 0;
    border-left: 2px solid Orange;
    border-right: 2px solid Orange;
    border-bottom: 2px solid Orange;
}

#modeselect label {
    margin-right: 15px;
}

#querybox label {
    font-size: 85%;
}

#querybox .help {
    margin-right: 8px;
}

/* Box fuer Optionen und Suchergebnisse */
#rbox {
    height: 140px;
    overflow: visible;
    padding: 0;
    margin: 0;
    border-left: 2px solid Orange;
    border-right: 2px solid Orange;
    border-bottom: 2px solid Orange;
}

/* Suchoptionen */
#dispopt {
    float: left;
    width: 25%;
    height: 135px;
    padding: 5px 5px 0 5px;
    margin: 0;
    border-right: 2px solid Orange;
    font-size: 85%;
}

#dispopt ul {
    padding: 0;
    margin: 5px 0 0 0;
}

#dispopt li {
    list-style: none;
}

/* Suchergebnisse */
#hits {
    width: 70%;
    height: 125px;
    padding: 5px;
    background-color: #fff;
}

/* Text navigation */
#navbar {
    visibility: hidden;
    height: 25px;
    font-size: 77%;
    border-bottom: 2px solid orange;
}

#navbar h4 {
    text-align: center;
}

#navbar p {
    margin: 0 5px;
    padding: 2px 0;
}

#navbar a {
    padding: 2px 10px 2px;
}

#navbar .back {
    float: left;
}

#navbar .forward {
    float: right;
}

#navbar #next-match {
    float: right;
}

#navbar img {
    display: inline;
    border: 0;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
}

#toc {
	float: left;
    width: 35%;
    margin-top: 0px;
    background-color: #FFEE99;
    font-size: 85%;
}

#toc_tree {
    overflow: auto;
}

#toc_links {
	text-align: left;
	padding-bottom: 4px;
}

#toc .toc_check {
    padding: 0 8px 0 4px;
}

#toc .toc_entry {
    color: black;
}

#toc_tree a, #toc_tree a:link, #toc_tree a:visited {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

#toc_tree .hi, #toc_tree .hi:link, #toc_tree .hi:visited {
    font-weight: bold;
    color: #FF7722;
}

/* IFrame fuer den Volltext */
#content {
	float: right;
}

/* Allgemeine Styles */

/* Erzwinge Zeilenumbruch */
.clearfix {
    clear: both;
    padding-bottom: .25em;
}

.help {
    color: Orange;
    font-weight: bold;
    letter-spacing: 0.3em;
}

.help a {
    text-decoration: none;
    color: Orange;
}

.hidden {
    display: none;
}

.active {
    color: #FF7722;
    font-weight: bold;
}

.tooltip {
	position: absolute;
	width: 240px;
	background-color: #FFFFDD;
	border: 1px solid black;
	padding: 2px;
	font-size: 12px;
	font-weight: normal;
	margin: 1em;
}

.tooltip h1 {
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
	background-color: rgb(106,106,106);
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

.panel .bd {
	font-size: 92%;
}