body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #AACCFF;
}

* {
    padding: 0;
	margin: 0;
}

#container {
    margin: 50px;
    padding: 5px 15px;
    background-color: #FFF;
    border: 1px solid black;
}

caption {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

#xquerytrace {
    font-size: 75%;
    margin-bottom: 10px;
}

#xquerytrace .func {
    color: green;
    padding-right: 25px;
}

#javatrace {
    font-size: 75%;
    margin-bottom: 10px;
}

#javatrace th {
    text-align: left;
}

#javatrace td {
    padding-right: 10px;
}

#javatrace .class {
    color: green;
}

p {
    padding: 15px 0;
}

h1 {
    font-size: 100%;
	margin: 10px 0;
}

h2 {
	font-size: 127%;
}

b {
	color: white;
}

div.message {
	margin-bottom: 15px;
}

div.description {
	margin-left: 25px;
	margin-right: 25px;
}

div.exception {
	padding: 15px;
	border: 2px solid #0000FF;
	font-family: Courier, monospace;
	font-size: smaller;
}
